{% load format_post %} {% load static %} {% load bleach_tags %}
<div>
  <div
    class="w-full lg:w-1/2 mx-auto bg-white border-2 border-slate-200 shadow-xl"
  >
    {% comment %} <img class="w-full" src="{% get_media_prefix %}{{event.FeatureImage}}" /> {% endcomment %}
    <div class="m-4 lg:m-8">
      <h1 class="title text-[rgb(88,80,123)]">{{event.title}}</h1>
      <p class="subtitle">{{event.caption}}</p>
      <p><span class="font-bold mr-2">Start Date: </span><span>{{event.start_date}}</span></p>
      <p><span class="font-bold mr-2">End Date: </span><span>{{event.end_date}}</span></p>
      <hr class="my-4">
      <h2>Description/Activities</h2>
      <div class="post-content">{{ event.description|bleach }}</div>
      <h2>Speakers</h2>
      <div class="post-content">{{ event.speakers|bleach }}</div>
      <hr class="my-4">
      <p class="post-date flex justify-end items-center">
        <span class="font-bold mr-2">Created</span> {{event.date_created}} by
          <span class="text-sm ml-2">{{ event.author }}</span>
        </p>
    </div>
    
    <form action="{% url 'events:subscribe' %}" method="post" class="mt-24">
      <div class="bg-slate-200 border-2 border-slate-300 mt-8 px-4 py-8">
        <p class="text-lg">I want to participate in this event. Please send me any available info and keep me up to date with the activities</p>
        <input type="hidden" name="event" value="{{event.id}}"/>
        {{ pform }}
        <input type="submit" value="Join" class="w-auto bg-[#6a1385] text-white font-bold px-8 py-2 my-4" />
      </div>
    </form>

  </div>
</div>
